<div class="text-box">
    <div class="text">
        <h2>Lista de casamento virtual</h2>
    </div>
</div>

<div class="text-box">
    <div class="text">
        <h3>Queridos familiares e amigos, para nós, a presença de vocês neste dia tão especial é o maior presente que
            poderíamos receber. Mas, se vocês também quiserem nos presentear, ficaremos muito agradecidos. Com amor,
            Laura e Diego.</h3>
    </div>
</div>

<div class="card">
    <mat-card class="matCard">
        <mat-card-content align="center">
            <a href="https://www.precolandia.com.br/lista-casamento/li-150510"
                target="_blank">
                <img src="/assets/img/logo_precolandia.jpg" alt="" style="width: 60%" >
            </a>
            <div class="lista" (click)="toLista()">
                <div class="text-box" >
                    <div class="text">
                        <h3>Clique aqui para acessar a lista</h3>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>