.example-spacer {
    flex: 1 1 auto;
}

button.menu {
  background-color: transparent;
  color: #706C68;  
}

button.menu:hover {
  background: #7DA491;
}

.mat-toolbar {
  background: #BAD9CC;
  color: #706C68;
  z-index: 100;
  position: fixed;
}

.nomes {
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
}

