<div class="timerTitulo" *ngIf="dateNow < dDay" >
    <h3> Contagem regressiva para o grande dia! </h3>    
</div>

<div class="timerTitulo" *ngIf="dDay < dateNow" >
    <h3> Estamos casados à: </h3>    
</div>

<div class="countDown">
    <div class="text">
        <div class="numeros">
            <p>{{daysToDday}}</p>
        </div>
        <p>DIAS</p>
    </div>
    <div class="text">
        <div class="numeros">
            <p>{{hoursToDday}}</p>
        </div>
        <p>HORAS</p>
    </div>
    <div class="text">
        <div class="numeros">
            <p>{{minutesToDday}}</p>
        </div>
        <p>MIN</p>
    </div>
    <div class="text">
        <div class="numeros">
            <p>{{secondsToDday}}</p>
        </div>
        <p>SEG</p>
    </div>
</div>