<div class="text-box">
    <div class="text">
        <h2>Cerimônia religiosa</h2>
    </div>
</div>

<div class="text-box">
    <div class="text">
        <h3>Não percam esse momento lindo e emocionante das nossas vidas. Contamos com você para ser ainda mais
            especial!</h3>
    </div>
</div>

<div class="card">
    <mat-card class="matCard">
 
            <div class="cerimonia">
                <img src="/assets/img/igreja.jpg" alt="">
                
                <div class="text-box-card">
                    <div class="text-card">
                        <h2>Paróquia Santa Terezinha</h2>
                    </div>
                    <div class="text-card">
                        <p>17 de Setembro de 2022 às 21:00</p>
                    </div>
                    <div class="text-card">
                        <p>Rua Virgílio da Silva Fagundes, 398</p>
                    </div>
                    <div class="text-card">
                        <p>Santa Terezinha, Piracicaba-SP</p>
                    </div>
                </div>                
            </div>
            <mat-card-content style="margin-top: 15px;" align="center">
                <div class="mapa">
                    <a href="https://www.google.com.br/maps/place/R.+Virg%C3%ADlio+da+Silva+Fagundes,+398+-+Santa+Terezinha,+Piracicaba+-+SP,+13411-083/@-22.6781048,-47.6797686,19z/data=!4m5!3m4!1s0x94c6338431aaf26f:0xc4b5540704a8bc20!8m2!3d-22.6779562!4d-47.6792123?hl=pt-BR" target="_blank">
                        <img src="/assets/img/mapa.png" alt="ver no mapa">
                    </a>
                </div>
            </mat-card-content>
    </mat-card>
</div>